<!DOCTYPE html>
<html>
<body class="arene">


<div class="container">
<h1>Welcome to the Arene, ready to fight</h1>
  <h1>A new Gladiator battle will begin :) Please don t miss it </h1>

  <div class="actions follow-button"><%= link_to 'Enter For Fight', personnages_path %></div>

</div>
</body>
</html>
